
body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.6;
}

img {
    max-width: 100%;
    display: block;
}

/* 
==============
Typography
=============== */

h1, h2, h3 {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #143774;
    margin-top: 0;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

h3 {
    color: #1792d2;
}

a {
    color: #1792d2;
}

a:hover,
a:focus {
    color: #143774;
}

strong {
    font-weight: 700;
}


/* h1 subtitle  */
.subtitle {
    color: #1792D2;
    font-weight: 700;
    font-size: .75rem;
    margin: 0;
    text-transform: uppercase;
}

.article-title {
    font-size: 1.5rem;
}

.article-read-more,
.article-info {
    font-size: 0.875rem;
}

.article-read-more {
    color: 1792d2;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.article-read-more:hover,
.article-read-more:focus {
    color: #143774;
    text-decoration: underline;
}

.article-info {
    margin: 2em 0;
}

.widget-title,
.widget-recent-post-title {
    font-size: 1rem;
    line-height: 1.4;
}

.widget-title {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

.widget-recent-post-title {
    color: #143774;
    margin-top: 0.4em;
}

.widget-body {
    font-size: 0.92rem;
}

/* 
==============
Layout
=============== */

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.container-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: #F8F8F8;
    padding: 2em 0;
    text-align: center;
    margin-bottom: 2em;
}

footer {
    background: #143774;
    color: rgba(255,255,255, .65);
    text-align: center;
    padding: 3em 0;
    margin-top: 2em;
}

/* navigation */

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav li {
    margin-left: 2em;
    
}

nav a {
    text-decoration: none;
    color: #707070;
    font-weight: 700;
    padding: .25em 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a:hover,
nav a:focus {
    color: #1792D2;
}

.current-page {
    border-bottom: 1px solid #707070;
}

.current-page:hover {
    color: #707070;
}

/* articles  */

.article-featured {
    /* for the horizontel line after featured: */
    border-bottom: #707070 1px solid;
    padding-bottom: 2em;
    margin-bottom: 2em;

    display: flex;
    flex-direction: column;
}

/* order / image is first in featured article:  !!!!!!!!!!!!!!!!!!!!!!  */
.article-image {
    order: -2;
}
    
.article-info {
    order: -1;
}  /*    <- */

.article-recent {
    display: flex;
    flex-direction: column;
}

.article-recent-main {
    order: 2;
}

.article-recent-secondary {
    order: 1;
}

/* sidebar */
.sidebar-widget {
    border: solid 18px #EFEFEF;
    padding: 1em;
    margin-bottom: 2em;
}

.widget-recent-post {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #707070;
    margin-bottom: 1em;
}

.widget-recent-post:last-child {
    border: 0;
    margin: 0;
}

.widget-image {
    order: -1;
}

/* ------------------ */

/* about page image: */
.image-full {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 1.6em;
}

/* 
======================
Media qieries
====================== */

/* For big screens: */
@media (min-width: 675px) {
    header {
        text-align: left;
    }

    .container-flex {
        flex-direction: row;
    }
    
    main {
        width: 70%;
    }
    
    aside {
        width: 25%;
        min-width: 200px;
        margin-left: 1em;
    }

    .article-recent {
        flex-direction: row;   
        justify-content: space-between;  
    }

    .article-recent-main {
        width: 68%;
    }

    .article-recent-secondary {
        width: 30%;
    }

    .article-image {
        width: 100%;
        min-height: 250px;
        object-fit: cover;
    }
}

/* For small screens: */
@media (max-width: 675px) {
    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: 1em 0;
    }
}